.select-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;

  width: 18em;

  @include border;

  .select-form__header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .select-form__header-close {
      cursor: pointer;
    }
  }
}
