.info-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .info-section__indicator {
    display: flex;
    gap: 0.5em;
    font-size: 13px;

    .indicator__status {
      display: flex;
      align-items: center;
      gap: 0.25em;
      list-style-type: none;

      .indicator__status-amount {
        width: 10px;
        height: 5px;
        border-radius: 2em;
        background-color: $fog;

        &.indicator__status--positive {
          background-color: $apple;
        }

        &.indicator__status--negative {
          background-color: $pomegranate;
        }
      }
    }
  }

  .info-section__tags-info {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 12px;
    color: $dusty-gray;
  }
}

.indicator__status--positive {
  color: $apple;
}

.indicator__status--negative {
  color: $pomegranate;
}
